@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&text=.alerc");

* {
  text-indent: -9999px;
}

html {
  background: black;
  color: black;
}

body {
  display: block;
  position: fixed;
  color: #DDD;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

h1 {
  text-indent: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 0;
  font-weight: 100;
  font-size: 20vw;
  text-align: center;
}

h1 span {
  font-weight: 900;
}

code {
  text-indent: 0;
  display: block;
  font-size: 2.5vw;
  color: white;
  text-decoration: none;
  text-align: center;
}
